<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM
        "https://testng.org/testng-1.0.dtd">

<suite name="Fossil Automation Suite">

    <test name="Fossil Tests">

        <classes>

            <class name="tests.LoginTest"/>

            <class name="tests.ProductCartTest"/>

        </classes>

    </test>

</suite>